<div class="story">
  <h1 style="text-align: center">The Website Story</h1>
</div>
<div class="body1">
  <div class=""></div>
  <div class=""></div>
</div>

<div class="body1">
  <div class="paragraph" style="padding:20px; font-size: 20;">
  <p>
    &nbsp;&nbsp;&nbsp;Introducing our groundbreaking school project: a captivating website that
    revolutionizes the way you rate pictures from Unsplash using hand gestures!
    Immerse yourself in an interactive browsing experience like never before as
    you effortlessly navigate through an extensive collection of mesmerizing
    images.
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;Our website harnesses the power of advanced technologies, such as computer
    vision and machine learning, to interpret your hand gestures and translate
    them into seamless rating actions. Simply swipe, pinch, or use recognizable
    hand movements to express your preferences for each picture in the most
    intuitive way imaginable.
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;With an extensive library of visually stunning and diverse photographs
    sourced from Unsplash, our website offers an endless stream of captivating
    visuals to explore. No more clicking or typing - just let your hand gestures
    guide you through this visually rich wonderland.
  </p>
</div>
  <div class="image1">
    <img class="small-image" src="https://images.unsplash.com/photo-1682159672286-40790338349b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2158&q=80" alt="Human Interaction">
  </div>
</div>
