<video id="htvideo" #htvideo name="htvideo" class="videobox" autoplay="autoplay"></video>
<div style="display: flex; align-items: center; justify-content: center;">
  <button style="display: flex; align-items: center;" class="start" (click)="startDetection()">
    START <span class="material-symbols-outlined">play_pause</span>
  </button>
  <button style="display: flex; align-items: center;" class="stop" (click)="stopDetection()">
    STOP  <span class="material-symbols-outlined"> pause_circle</span>
  </button>
</div>
