
.videobox{
    border: 1px solid #0063FF;
    border-radius: 20%;
    border-color: #0063FF;
    width: 200px;
    height: 200px;
}

.stop {
    border-radius: 50px;
    margin: 5px 5px 5px 5px; 
    border: 1px solid red;
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.start {
    border-radius: 50px;
    margin: 5px 5px 5px 5px;
    border: 1px solid #4CAF50;
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.start:hover {
    background-color: #4CAF50; 
    color: white;
}

.stop:hover {
    background-color: red;
    color: white;
}

